/*--- About Starts Here -----*/
.about{
	background:rgb(44, 52, 61);
	padding:2em 0;
}
.about ul{
	width:80%;
	margin:0 auto;
	font-size:18px;
	line-height:1.8em;
	font-weight:400;
	margin-bottom:1em;
	color: white;
	font-family:'Times New Roman', Times, serif;
}

.about h4{
	font-size:1.8em;
	font-weight: 700;
	text-align:center;
	margin-bottom:1em;
	color: rgb(211, 219, 206);
	font-family:'Times New Roman', Times, serif;
}
#id{
	font-weight: 300;
}
.about p{
	width:80%;
	margin:0 auto;
	font-size:18px;
	line-height:1.8em;
	font-weight:400;
	margin-bottom:1em;
	color: white;
	font-family:'Times New Roman', Times, serif;
}

.about h3.top-title{
	font-size:2.5em;
	color:rgb(211, 219, 206);
	font-weight:800;
	text-transform:uppercase;
	text-align:center;
	margin:1em 0 0.3em 0;
	font-family:'Times New Roman', Times, serif;
}
.about-row{
	
	background:#5f5e5e;
	margin:0em auto;
	padding-top: 1em;
	border-radius:8px;
	-webkit-border-radius:8px;
	-o-border-radius:8px;
	-ms-border-radius:8px;
	-moz-border-radius:8px;
}

.oldstyle{
	font-family: Georgia, 'Times New Roman', Times, serif;
	text-transform: uppercase;
	font-size: xx-small;
	margin-bottom: -2em;
	color: white;
	
}
.oldstyle1{
	font-family: 'Courier New', Courier, monospace;
	text-transform: capitalize;
	font-size: xx-small;
	font-weight: 500;
}
.oldstyle3{
	font-family: Georgia, 'Times New Roman', Times, serif;
	/* text-transform: uppercase; */
	font-size: 15px;
	font-weight: 800;
	font-style: calc();
	text-decoration-line: underline;
		
}
.about-column{
	padding:1em 2em;
	text-align:center;
	height: 10em;
	margin-bottom: 2em;
	
}
.about-column h3{
	font-size:2em;
	font-weight:600;
	text-align:left;
	font-size:2.0em;
	color: white;
	text-transform:uppercase;
	
}
.about-column h4{
	text-align:center;
	font-size:1.5em;
	font-weight:400;
}
.about-column p{
	text-align:left;
	width:90%;
	font-size:1.2em;
	line-height:1.5em;
	color:white;
	margin:0 0 1em 0;
}

/* Self Clearing Goodness */
.container:after { content: "\0020"; display: block; height: 0; clear: both; visibility: hidden; }
.clearfix:before,
.clearfix:after,
.row:before,
.row:after {
  content: '\0020';
  display: block;
  overflow: hidden;
  visibility: hidden;
  width: 0;
  height: 0; }
.row:after,
.clearfix:after {
  clear: both; }
.row,
.clearfix {
  zoom: 1; }




   /*----Responsives Here ---*/

@media (max-width:480px){
	p.show-not {
		display: none;
	}
	.about-row {
		padding: 1em 0 1em 0;
	}	
}	
@media (max-width:640px){
			h3.top-title {
				font-size: 1.5em;
				margin: 0em 0 0.3em 0;	
			}
			.about h4 {
				font-size: 1.3em;
			}
			.about-row-column img {
				width: 40%;
			}
			.about-column h3 {
				font-size: 1.5em;
				text-align: center;
			}
			.about h4 {
				font-size: 1.1em;
				text-align: center;
			}
			.about p {
				font-size: 14px;
				margin: 0 auto;
				text-align: center;
			}
			.about-column h5 {
				text-align: center;
				font-size: 1.1em;
				margin-top: 0.4em;
			}
			#progressbar {
				margin: 0 auto;
			}
			.about-column {
				text-align: center;
			}
}
			
			
@media (max-width:800px){
	.about-row-column {
		text-align: center;
	}
	.about-row-column img {
		width: 40%;
	}
	h3.top-title {
		font-size: 2em;
		margin: 0em 0 0.3em 0;
	}
	.about p {
		width: 90%;
		font-size: 15px;
	}
	.about h4 {
		font-size: 1.5em;
	}
}
 /*----Responsives Ends ---*/
   


.bluring:hover {
	 cursor: -moz-zoom-in;
}
