h4, h5, h6,
h1, h2, h3 {margin-top: 0;}
ul, ol {margin: 0;}
p {margin: 0;}
html,body{
	font-family: 'PT Sans', sans-serif;
	background:#fff;
}
/*--- Header Part Starts here ----*/

.header{
	
	background:url(../images/banner.jpg)no-repeat;
	background-size:cover;
	-webkit-background-size:cover;
	-o-background-size:cover;
	-moz-background-size:cover;
	-ms-background-size:cover;
	min-height:700px;
	text-align:center;
	padding:4em 0 0 0;	
}
.meimgDiv{
	position: relative;
	padding-top: 0em;
	margin-bottom: 0rem;
	height: 5em;	
	width: 100%;
}
.meimg{
	width: 80%;
}
.textpagerDiv{
	height: 5em;	
	width: 100%;
	padding-bottom: 0rem;
	padding-top: 5rem;
}
.search{
 margin-top: 10em;
 margin-bottom: 5em;
 padding: 1em;
 float:left;
 height: 6em;
}
.search input[type="text"]{
	width: 60%;
	font-size: x-large;
	font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
	color: rgba(20, 34, 37, 0.986);
}
.btn{
	position: absolute;
	height: 4.18em;
	width: 6em;
	
}
.btn a{
font-size: 1.6em;	
}

/*----Slider contents ---*/

  .slide-content{
	margin:1em;
}
.slide-content h2{
	font-size:3em;
	margin:1em 0 0.5em;
	color:#fff;
	font-weight:700;
}
.slide-content p{
	font-size:1.8em;
	color:#fff;
	font-weight:400;
	margin-bottom:1em;
}
.slide-content a{
	font-size:1em;
	color:#fff;
	background:#77b4be;
	padding:10px 15px;
	text-decoration:none;
	text-transform:uppercase;
	border-bottom:4px solid #558da9;
	border-radius:4px;
}
.slide-content a:hover{
	background:#558da9;
	transition:0.5s all;
	-webkit-transition:0.5s all;
	-ms-transition:0.5s all;
	-moz-transition:0.5s all;
	-o-transition:0.5s all;
}
  /*----Slider Starts Here ---*/
 